@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


.registration_form .wrapper{
  max-width: 500px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
}

.registration_form .wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.registration_form .wrapper .form{
  width: 100%;
}

.registration_form .wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.registration_form .wrapper .form .inputfield label{
   width: 200px;
   color: whitesmoke;
   margin-right: 10px;
  font-size: 14px;
}

.registration_form .wrapper .form .inputfield .input,
.registration_form .wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.registration_form .wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.registration_form .wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.registration_form .wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.registration_form .wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.registration_form .wrapper .form .inputfield .input:focus,
.registration_form .wrapper .form .inputfield .textarea:focus,
.registration_form .wrapper .form .inputfield .custom_select select:focus{
  border: 1px solid white;
}

.registration_form .wrapper .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.registration_form .wrapper .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.registration_form .wrapper .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.registration_form .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #fec107;
}

.registration_form .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.registration_form .wrapper .form .inputfield .btn{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.registration_form .wrapper .form .inputfield .btn:hover{
  background: #ffd658;
}

.registration_form .wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}