@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.restaurant-registration-m{
    margin-top: 100px;
    margin-left: 15%;
    display: flex;
    float: left;
}
.restaurant-registration{
  max-width: 500px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  float: left;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  margin-right: 100px;
  padding: 15px;
}

.restaurant-registration .form{
}

.restaurant-registration .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.restaurant-registration .form{
  width: 100%;
}



.restaurant-registration .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.restaurant-registration .form .inputfield label{
   width: 200px;
   color: whitesmoke;
   margin-right: 10px;
  font-size: 14px;
}

.restaurant-registration    .form .inputfield .input,
.restaurant-registration    .form .inputfield .textarea{
  width: 100%;
  outline: none;
    font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.restaurant-registration   .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.restaurant-registration   .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.restaurant-registration .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.restaurant-registration .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.restaurant-registration   .form .inputfield .input:focus,
.restaurant-registration   .form .inputfield .textarea:focus,
.restaurant-registration   .form .inputfield .custom_select select:focus{
  border: 1px solid white;
}

.restaurant-registration .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.restaurant-registration .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}

.restaurant-registration .form .inputfield .btn{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.restaurant-registration    .form .inputfield .btn:hover{
  background: #ffd658;
}

.restaurant-registration .form .inputfield:last-child{
  margin-bottom: 0;
}

/**Ovo je bilo**/
.restaurant-registration .container{
    padding: 0;
    margin: 0;
}
.restaurant-registration .container .wrapper{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.restaurant-registration .container .wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restaurant-registration .container .wrapper .text{
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
}






