.seeusers{
  all: unset;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 7%;
}

.seeusers .listofusers{
  width: 70%;

}

.seeusers .other{
  margin: unset;
  float: left;
  margin: 30px;
  margin-top: 0;
  width: 25%;
}
.seeusers table{
  background-color: rgba(0,0,0,0.4); 
  width: 100%;
    box-shadow: 2px 2px 12px rgba(151, 11, 11, 0.2),-1px -1px 8px rgba(0, 0, 0, 0.2);
}
.seeusers tr{
    transition:all .2s ease-in;
    cursor: pointer;
    font-size: 18px;
}
.seeusers th,td{
    padding: 18px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}
#heder{
  background-color: rgba(0,0,0,0.4);
    color: #ddd;
}
.seeusers h1{
    font-weight: 600;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    color: #ddd;
    padding: 10px 0px;
}
.seeusers tr:hover{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(214, 146, 146, 0.2),-1px -1px 8px rgba(0, 0, 0, 0.2);

}
.seeusers h3
{
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
  margin-top: 10px;
}

.seeusers .buttons{
  display: flex;
  flex-direction: row;
}
.seeusers div.profiln
{
  background-color: rgba(0,0,0,0.4);
  font-size: 18px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  margin: 10px;
  box-shadow:2px 2px 15px rgba(0,0,0,0.3) ;
  color: #fff; 
}

.seeusers .form{
  width: 100%;
}

.seeusers .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.seeusers .form .inputfield label{
   width: 200px;
   color: whitesmoke;
   margin-right: 10px;
  font-size: 14px;
}

.seeusers .form .inputfield input,
.seeusers .form .inputfield textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.seeusers .form .inputfield textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.seeusers .form .inputfield select{
  position: relative;
  width: 100%;
  height: 37px;
}

.seeusers .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.seeusers .form .inputfield  select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.seeusers .form .inputfield .input:focus,
.seeusers .form .inputfield .textarea:focus,
.seeusers .form .inputfield .custom_select select:focus{
  border: 1px solid white;
}

.seeusers .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.seeusers .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.seeusers .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.seeusers .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #fec107;
}

.seeusers .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.seeusers .form .inputfield .buttons{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.seeusers .btn{
  width: 80%;
  padding: 8px 10px;
  margin: 10px;
  font-size: 15px; 
  border: 0px;
  background:  #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.seeusers .form .inputfield .btn:hover{
  background: #ffd658;
}

.seeusers .form .inputfield:last-child{
  margin-bottom: 0;
}


