<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First page</title>
    <link href="css/style.css" rel="stylesheet"  href="style.css">
	<link href="css/restaurantstable.css" rel="stylesheet" type="text/css"/>
    <link href="css/registerrestaurant.css" rel="stylesheet" type="text/css"/>
    <link href="css/managersrestaurant.css" rel="stylesheet" type="text/css"/>
    <link href="css/profil.css" rel="stylesheet" type="text/css"/>
    <link href="css/seeUsers.css" rel="stylesheet" type="text/css"/>
    <link href="css/onerestaurant.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="libraries/v6.6.1-dist/ol.css">
</head>
<body>
    <div id="firstPage" class="backgroundFirstPage">
        <nav class="navbar">
            <img  src="logo.png" class="logoFastFood">
            <ul>
                <li><a v-if="loggedInUser.role=='ADMINISTRATOR'" href="#/">{{loggedInUser.userName}}</a>
                    <ul class="functionlist">
                        <li><a  href="#/profile">Change profile</a></li>
                        <li><a href="#/password">Change password</a></li>
                       
                    </ul>
                 </li>

                <li><a href="#/">Menu</a>
                    <ul v-if="loggedInUser.role=='ADMINISTRATOR'"  class="functionlist">
                        <li><a  href="#/registration">Registration</a></li>
                        <li><a href="#/seeUsers">See Users</a></li>
                        <li><a href="#/addrestaurant">Add restaurant</a></li>
                    </ul>
                    <ul v-else-if="loggedInUser.role=='MANAGER' && loggedInUser.restaurant!=null" class="functionlist">
                        <li><a  href="#/managersrestaurant">See {{loggedInUser.restaurant}}</a></li>
                        <li><a href="#/">See orders</a></li>
                        <li><a href="#/">See customers</a></li>
                    </ul>
                    <ul v-else-if="loggedInUser.role=='MANAGER' && loggedInUser.restaurant==null" class="functionlist">
                        <li style="color:whitesmoke; word-spacing: 0%;">Not connected with restaurants</li>
                    </ul>
                    <ul v-else-if="loggedInUser.role=='CUSTOMER'" class="functionlist">
                        <li><a href="#/shoppingchart">Shopping chart</a></li>
                        <li><a href="#/customersorders">See orders</a></li>

                    </ul>
                </li>
             
                <li><a v-if="status=='loggedIn'"  v-on:click="logout" href="#/">Log out</a></li>
                <li><a v-if="status=='notLoggedIn'"   href="#/registration">Registration</a></li>
                <li><a v-if="status=='notLoggedIn'"  href="#/login">Log in</a></li>
            </ul>
        </nav>
       

        <router-view></router-view>
    </div>

<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/axios.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/toast.js"></script>

<script src="app/registration.js"></script>  
<script src="app/onerestaurant.js"></script>  
<script src="app/addrestaurant.js"></script>  
<script src="app/menagersrestaurant.js"></script>
<script src="app/login.js"></script>  
<script src="app/restaurants.js"></script>
<script src="app/profile.js"></script>
<script src="administrator/seeUsers.js"></script>
<script src="app/app.js"></script>
<script src="libraries/v6.6.1-dist/ol.js"></script>

</body>
</html>